{% extends "base.html" %} {% block extrahead %}

<!-- Place this tag in your head or just before your close body tag. -->
<!-- <script async defer src="https://buttons.github.io/buttons.js"></script> -->

<!-- Google Tag Manager -->
<script>
    (function(w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start': new Date().getTime(),
            event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s),
            dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', '{{ config.extra.analytics.property }}');
</script>
<!-- End Google Tag Manager -->

<!-- Google tag (gtag.js) needed to send events to GTM -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-BFBHQ33YP1"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'G-BFBHQ33YP1');
</script>
<!-- END Google tag (gtag.js) -->

<!-- POSTHOG -->
<script>
    ! function(t, e) {
        var o, n, p, r;
        e.__SV || (window.posthog = e, e._i = [], e.init = function(i, s, a) {
            function g(t, e) {
                var o = e.split(".");
                2 == o.length && (t = t[o[0]], e = o[1]), t[e] = function() {
                    t.push([e].concat(Array.prototype.slice.call(arguments, 0)))
                }
            }(p = t.createElement("script")).type = "text/javascript", p.async = !0, p.src = s.api_host + "/static/array.js", (r = t.getElementsByTagName("script")[0]).parentNode.insertBefore(p, r);
            var u = e;
            for (void 0 !== a ? u = e[a] = [] : a = "posthog", u.people = u.people || [], u.toString = function(t) {
                    var e = "posthog";
                    return "posthog" !== a && (e += "." + a), t || (e += " (stub)"), e
                }, u.people.toString = function() {
                    return u.toString(1) + ".people (stub)"
                }, o = "capture identify alias people.set people.set_once set_config register register_once unregister opt_out_capturing has_opted_out_capturing opt_in_capturing reset isFeatureEnabled onFeatureFlags".split(" "), n = 0; n < o.length; n++) g(u, o[n]);
            e._i.push([i, s, a])
        }, e.__SV = 1)
    }(document, window.posthog || []);
    posthog.init('{{ config.extra.posthog.key }}', {
        api_host: '{{ config.extra.posthog.host }}'
    })
</script>
<!-- End POSTHOG -->

<!-- HOTJAR -->
<!-- Hotjar Tracking Code for https://quix.io/ -->
<script>
    (function(h, o, t, j, a, r) {
        h.hj = h.hj || function() {
            (h.hj.q = h.hj.q || []).push(arguments)
        };
        h._hjSettings = {
            hjid: '{{ config.extra.hotjar.id }}',
            hjsv: 6
        };
        a = o.getElementsByTagName('head')[0];
        r = o.createElement('script');
        r.async = 1;
        r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
        a.appendChild(r);
    })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
</script>
<!-- End HOTJAR -->
{{ super }} {% endblock %} {% block analytics %} {{ super }}
<!-- Google Tag Manager (noscript) -->
<noscript><iframe
    src="https://www.googletagmanager.com/ns.html?id={{ config.extra.analytics.property }}"
    height="0"
    width="0"
    style="display: none; visibility: hidden"
  ></iframe
></noscript>
<!-- End Google Tag Manager (noscript) -->
<!-- Add scripts that need to run afterwards here -->
{% endblock %}

{% block footer %} {{ super() }} {% endblock %} {% block scripts %} {{ super() }}

<script lang="javascript">
    

var consent = __md_get("__consent")
var use_google_analytics = consent && consent.analytics;

/* Register event handlers after document is loaded */
document.addEventListener("DOMContentLoaded", function() {

  if(!use_google_analytics){
    return;
  }

    /* Set up search tracking */
    if (document.forms.search) {
      var query = document.forms.search.query
      query.addEventListener("blur", function() {
        if (this.value)
          gtag("event", "search", { search_term: this.value })
      })
    }
    
    /* Set up feedback, i.e. "Was this page helpful?" */
    document$.subscribe(function() {
      var feedback = document.forms.feedback
      if (typeof feedback === "undefined")
        return
    
      /* Send feedback to Google Analytics */
      for (var button of feedback.querySelectorAll("[type=submit]")) {
        button.addEventListener("click", function(ev) { 
          ev.preventDefault()
    
          /* Retrieve and send data */
          var page = document.location.pathname
          var data = this.getAttribute("data-md-value")
          gtag("event", "feedback", { page, data })
    
          /* Disable form and show note, if given */
          feedback.firstElementChild.disabled = true
          var note = feedback.querySelector(
            ".md-feedback__note [data-md-value='" + data + "']"
          )
          if (note)
            note.hidden = false
        })
    
        /* Show feedback */
        feedback.hidden = false
      }
    })
    
    /* Send page view on location change */
    location$.subscribe(function(url) {
      gtag("config", "G-BFBHQ33YP1", {
        pageview: url.pathname,
        page_view: url.pathname
      })
    })
  })
</script>

<script lang="javascript">
    document.addEventListener("DOMContentLoaded", function() {
    var script = document.createElement('script');
    script.defer = true;
    script.type = 'module';
    script.id = 'runllm-widget-script';
    script.src = 'https://widget.runllm.com';
    script.setAttribute('runllm-preset', 'mkdocs');
    script.setAttribute('runllm-server-address', 'https://api.runllm.com');
    script.setAttribute('runllm-assistant-id', '111');
    script.setAttribute('runllm-position', 'BOTTOM_RIGHT');
    script.setAttribute('runllm-keyboard-shortcut', 'Mod+j');
    script.setAttribute('runllm-slack-community-url', 'https://quix.io/slack-invite');
    script.setAttribute('runllm-name', 'RunLLM');

    document.head.appendChild(script);
});

</script>
{% endblock %}