
site/
lib/
.idea/
.vscode/
.DS_Store
node_modules/
package-lock.json
package.json
.cache
temp_dir/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

docs/connect/00-gen_code/.env
