<form class="md-feedback" name="feedback" hidden>
    <fieldset>
        <legend class="md-feedback__title">
            Was this page helpful?
        </legend>
        <div class="md-feedback__inner">
            <div class="md-feedback__list">
                <button class="md-feedback__icon md-icon" data-md-value="1" title="This page was helpful" type="submit">
                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M5 9v12H1V9h4m4 12a2 2 0 0 1-2-2V9c0-.55.22-1.05.59-1.41L14.17 1l1.06 1.06c.27.27.44.64.44 1.05l-.03.32L14.69 8H21a2 2 0 0 1 2 2v2c0 .26-.05.5-.14.73l-3.02 7.05C19.54 20.5 18.83 21 18 21H9m0-2h9.03L21 12v-2h-8.79l1.13-5.32L9 9.03V19Z">
                        </path>
                    </svg>
                </button>
                <button class="md-feedback__icon md-icon" data-md-value="0" title="This page could be improved"
                    type="submit">
                    <svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M19 15V3h4v12h-4M15 3a2 2 0 0 1 2 2v10c0 .55-.22 1.05-.59 1.41L9.83 23l-1.06-1.06c-.27-.27-.44-.64-.44-1.06l.03-.31.95-4.57H3a2 2 0 0 1-2-2v-2c0-.26.05-.5.14-.73l3.02-7.05C4.46 3.5 5.17 3 6 3h9m0 2H5.97L3 12v2h8.78l-1.13 5.32L15 14.97V5Z">
                        </path>
                    </svg>
                </button>
            </div>
            <div class="md-feedback__note">
                <div data-md-value="1" hidden="">
                    Thanks for your feedback!
                </div>
                <div data-md-value="0" hidden="">
                    Thanks for your feedback!<br>Help us improve this page by letting us know what went wrong in our <a
                        href="https://quix.io/slack-invite" rel="noopener" target="_blank">Quix
                        Community</a>.
                </div>
            </div>
        </div>
    </fieldset>
</form>