
[data-md-color-scheme="default"] {
    --md-primary-fg-color:        #0A0B24;
    --md-default-fg-color--light:  #222229;
    --md-typeset-a-color: #0064ff !important;
    --md-typeset-h1-font-weight: 600;
    --p-color: rgb(0, 0, 0 / 70%);
    --md-code-fg-color: #414141;
    --md-code-bg-color: #e8e8e8;
    --md-default-fg-color--lightest: #cbcbcb;
    --md-code-hl-comment-color: #858585;
}

[data-md-color-scheme="slate"] {
    --md-primary-fg-color:        #0A0B24;
    --md-default-fg-color--light: #fff;
    --md-primary-fg-color--dark:  #000000;
    --md-default-bg-color: #222229;
    --md-typeset-a-color: #008eff !important;
    --md-typeset-h1-font-weight: 600;
    --md-accent-fg-color: #409ed8;
    --p-color: #dedede;
    --md-code-bg-color: #393939;
    --md-code-hl-comment-color: #858585;
}

.md-typeset code {
    border-radius: 0.2rem;
}

.md-nav__title{
    font-size: 1rem;
}
.md-nav__item--section>.md-nav__link {
    font-size: 1rem;
}

p {
    color: var(--p-color);
}

li {
    color: var(--p-color);
}

.md-typeset h1{
    font-weight: var(--md-typeset-h1-font-weight);
}

.md-typeset h2{
    font-weight: 600;
}

.md-typeset .grid.cards>:-webkit-any(ul,ol)>li, .md-typeset .grid>.card {
    border-radius: 8px;
}

.md-typeset .grid.cards>:-webkit-any(ul,ol)>li:-webkit-any(:focus-within,:hover), .md-typeset .grid>.card:-webkit-any(:focus-within,:hover) {
    border-color: var(--md-typeset-a-color);
    box-shadow: var(--md-shadow-z2);
    border-radius: 8px;
}

.footer{
    background-color: var(--md-primary-fg-color);
    padding: 1.5rem; 
}

.footer-flex {
    font-family: Inter,sans-serif;
    word-wrap: anywhere;
    color: hsla(0,0%,100%,.6);
    font-size: .7rem;
    line-height: 1.6;
    box-sizing: inherit;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    flex-direction: row;
    max-width: 61rem;
    margin: auto;
    justify-content: space-between;
}
.footer-left {
    font-family: Inter,sans-serif;
    word-wrap: anywhere;
    color: hsla(0,0%,100%,.6);
    font-size: .7rem;
    line-height: 1.6;
    box-sizing: inherit;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    flex-direction: column;
    margin: 0;
    -webkit-box-align: center;
    align-items: flex-start;
}
.footer-right {
    font-family: Inter,sans-serif;
    word-wrap: anywhere;
    color: hsla(0,0%,100%,.6);
    font-size: .7rem;
    line-height: 1.6;
    box-sizing: inherit;
    -webkit-box-orient: horizontal;
    flex-direction: row;
    -webkit-box-align: end;
    align-items: flex-end;
    display: flex;
    -webkit-box-direction: normal;
    margin: 0;
}
.footer-links {
    font-family: Inter,sans-serif;
    word-wrap: anywhere;
    font-size: .7rem;
    box-sizing: inherit;
    color: hsla(0,0%,100%,.6);
    width: auto;
    padding-top: 20px;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    line-height: 1.6;
}
.footer-links a {
    margin-left: 10px;
}
.footer-community {
    font-family: Inter,sans-serif;
    word-wrap: anywhere;
    color: hsla(0,0%,100%,.6);
    font-size: .7rem;
    line-height: 1.6;
    box-sizing: inherit;
    display: flex;
    -webkit-box-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    padding-left: 0;
    align-items: center;
}
.footer-links a {
    margin-left: 20px;
}
.footer-community a {
    color: hsla(0,0%,100%,.6);
    padding-left: 30px;
}
.footer-community a :-webkit-any(img,svg){
    height: 30px;
    filter: invert(100%);
}
.footer-community:first-child {
    padding-left: 0;
}
@media only screen and (max-width: 670px){
    .footer-right {
        flex-direction: row; 
        align-items: flex-end;
        padding-top: 40px;
        justify-content: center;
    }
    .footer-community a {
        padding-left: 16px;
        padding-right: 16px;
    }
    .footer-links {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .footer-left {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-flex {
        flex-direction: column;
    }
}

/*dashed borders*/
.border-blue-dash{
	border: 2px dashed #0064FF;
}
.border-orange-dash{
	border: 2px dashed #FF8536;
}
.border-violet-dash{
	border: 2px dashed #BD2EFF;
}

.sq span {
    display: grid;
    /* place-content: center; */
    min-width: 22px;
    height: 22px;
    background-color: red;
    border-radius: 8px;
    margin-right: 5px;
    margin-top: 2px;
}
.sq {
    display: flex;
}
.sq.sq-blue span{
    background-color: #0064FF;
}
.sq.sq-orange span{
    background-color: #FF8536;
}
.sq.sq-violet span{
    background-color: #BD2EFF;
}


.primary-fg{
    filter: invert(40%) sepia(49%) saturate(4897%) hue-rotate(190deg) brightness(105%) contrast(103%);
}
.vertical-align{
    vertical-align: text-bottom;
}
